


<IfModule mod_rewrite.c>
RewriteEngine On

# ---- BUILDER ----
# Redirect: "builder/[major].[minor][.bugfix]/*" 
# to:       "[major].[minor]/builder/[bugfix]/*"
RewriteRule ^builder/(\d\.\d)(\.(\d))?/(.*)$  $1/builder/$3/$4 [L]


# ---- SRC ----
# Redirect: "src/picoquery-[major].[minor][.bugfix-version]-*.js
# to:       "[major].[minor]/src/picoquery-[major].[minor][.bugfix-version]-*.js"
RewriteRule ^src/(picoquery-(\d\.\d)(\.(\d))?-(.*)\.js)  /$2/src/$1 [L]


# ---- LATEST VERSION ----
# Redirect to LATEST version of builder
RewriteRule ^builder/$  /builder/0.2.1/ [L,R=302]


</IfModule>



