<IfModule mod_rewrite.c>
RewriteEngine On

# ---- BUILDER ----
# Rewrite:  "builder/[major].[minor][.bugfix]/*" 
# to:       "[major].[minor]/builder/[bugfix]/*"
RewriteRule ^builder/(\d\.\d)(\.(\d))?/(.*)$  $1/builder/$3/$4 [L]


# ---- SRC ----
# Rewrite:  "src/picoquery-[major].[minor][.bugfix-version]-*.js
# to:       "[major].[minor]/src/picoquery-[major].[minor][.bugfix-version]-*.js"
RewriteRule ^src/(picoquery-(\d\.\d)(\.(\d))?-(.*)\.js)  /$2/src/$1 [L]


# ---- LATEST VERSION ----
# Redirect to LATEST version of builder
RewriteRule ^builder/$  /builder/0.5.0/ [L,R=302]


# ---- Website images/scripts  ----
RewriteRule ^(img|scripts|css)\/(.*)$  /web/$1/$2 [L]




# ---- Markdown CMS ----
# index
RewriteRule ^$ /web/template.php?page=index [L]

# Rewrite:   "*"
# to:        "template.php?*"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$  /web/template.php?page=$1 [NC,L,QSA]

# Pass directories to template as well


</IfModule>



