<IfModule mod_rewrite.c>
RewriteEngine On

# ------ FULL VERSION -------- 
# Redirect: "src/picoquery-[version]-full.*"
# to:       "builder/[version]/build.php?bid=BU*********.*"

RewriteRule ^src\/picoquery-\d\.\d\.\d-full\.(.*)  builder/$3/build.php?bid=BU*********.$1 [L]



# ------ SRC -------- 
# Redirect: "src/picoquery-[version]-*"
# to:       "builder/[version]/build.php?bid=*"

# ie. 'src/picoquery-0.5.0-Bfe7000.min.js' maps to  'builder/0.6.0/build.php?bid=Bfe7000.min.js'
# and 'src/picoquery-0.5.0-addClass.min.js' maps to 'builder/0.6.0/build.php?bid=addClass.min.js'

RewriteRule ^src\/picoquery-(\d\.\d)(\.(\d))?-(.*)  builder/$3/build.php?bid=$4 [L]



</IfModule>

