body {
  padding: 0;
  margin: 0;
}
h1 {
  padding: 5px 20px;
  margin: 0;
  font-size: 16px;
  background-color: #666;
  text-align: center;
  color: white;
}
columns {
  display: table;
  width: 100%;
  height: 100%;
}
column {
/*  display: inline-block;*/
  display: table-cell;
  vertical-align: top;
  padding: 0 20px;
}
column:first-child {
  border-right: 1px solid #ccc;
  min-width: 220px;
}
column:last-child {
  width: 100%;
}

panel {
  margin: 20px 0;
  display: block;
}

h3.panel-title {
  font-style: italic;
  font-weight: normal;
  margin: 0 0 10px;
  padding: 2px 8px;
  font-size: 0.9em;
  background-color: #ccc;
}

.checkbox-list label {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently not supported by any browser */
}

#comment_selector {
  display: block;
}
#code_panel {
  height: 100%;
}

#code_panel textarea {
  height: 500px;
  width: 100%;
  width: calc(100% - 20px);
}

#features_panel {
  margin-top: 10px;
}
#features {
  margin-top: 10px;
}

