table.color-legend {
  margin-bottom: 30px;
  font-size: 70%;
  width: auto;
}



table.chart {
  width: 100%;
  border-collapse: collapse;
}
table.chart th {
  font-weight: normal;
  font-style: italic;
}
table.chart td {
  vertical-align: top;
  font-size: 70%;
  padding: 2px 4px;
  border: 1px solid #999;
}
table.chart td:first-child {
  border-left: 0px;
  font-size: 100%;
}
table.chart td div.text {
  position: relative;
}
table.chart tr:hover td div.text {
}

td.full {
  background-color: #0d0;
}
td.approximate {
  background-color: #0dd;
}
td.partial {
  background-color: yellow;
}
td.none {
  background-color: #e00;

}
.has-title {
  cursor: default;
}

table.chart td ul {
  margin: 0;
  padding: 0 0 0 2px;
/*  list-style-position: inside;*/
 list-style-type: none;
}
td li {
  margin-bottom: 4px;
}
