


<IfModule mod_rewrite.c>
RewriteEngine On

# Redirect for example "picoquery-0.1-4-1-10f.js" to "/builder/picoquery.js.php?build=0.1-4-1-10f"

RewriteRule ^picoquery-([\d\.]+-[a-f\d]+-[a-f\d]+-[a-f\d]+)\.js  ../builder/picoquery.js.php?build=$1 [L]


</IfModule>



